.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-link {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}

.login-link:hover {
    color: black;
}



.register-link {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}

.register-link:hover {
    color: black;
}
